.container {
  position: relative;
  width: 95vw;
  height: 450px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  @media (min-width: 1536px) {
    height: 550px;
  }
  @media (min-width: 1920px) {
    height: 600px;
  }
  transition: background-image 0.5s ease-in-out;
}
